* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row:after{
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* COLONNE  */

[class^="col-"] {
  float: left;
}

.col-15 {
  width: 15%;
}

.col-35 {
  width: 35%;
  line-height: 40px;
}

.col-50 {
  width: 50%;
}

.col-45 {
  margin-top: 120px;
  width: 45%;
}

.col-100 {
  width: 100%;
}

.col-33 {
  width: calc(100% / 3);
}

.mt {
  margin-top: 20px;
}
/* COLONNE  */


                /* HEADER CON NAV */
nav ul li{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #ffff;
  margin-left: 20px;
}

.menu-button li a {
  text-decoration: none;
  color: #ffff;
  margin-left: 20px;
}

.bg-header {
  background-color: #0D325A;
  background-image: url("../img/background-header.png");
  background-position: 118% 110%;
  background-size: 56%;
  background-repeat: no-repeat;
  height: 600px;
}

.menu-button  ul{
  text-align: right;
}

.button{
  border: 1px solid white;
  padding: 10px 25px;
  border-radius: 5px;
}

.button-green {
  background-color: #7CBB02;
  padding: 9px 20px;
  border-radius: 5px;
}

.title h1 {
  color: white;
  font-size: 54px;
  margin-bottom: 60px;
}

.title-button {
  color: white;
  background-color: #7CBB02;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
}

/* MAIN */

.bg-grey {
  background-color: #D3D3D3;
}


section.information {
  padding-top: 45px;
  padding-bottom: 45px;
  text-align: center;
}

section.information h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

section.information p {
  font-size: 20px;
  font-weight: bold;
  color: grey;
}


/* MAIN 2 CON FOTO */

.site-information img#profile {
  width: 125px;
}

.site-information img#computer {
  width: 200px;
  margin-bottom: 15px;
}

.site-information img#doc {
  width: 140px;
  margin-bottom: 15px;
}

section h3 {
  font-size: 27px;
  color: #7CBB02;
}

section p.text {
  color: #858585;
  font-weight: bold;
  line-height: 25px;
  font-size: 17px;
}

section.site-information {
  text-align: center;
}


hr.horizontal{
  margin-left: 42%;
  width: 90px;
  border: 1px solid;
}


.mt2 {
  margin-top: 50px;
}

.space-left {
  padding-left: 9%;
}
    /* MAIN PARTE 3 CON GRAFICO  */

.bg-image {
  background-image: url("../img/mountain.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
}

.plane-title {
  font-size: 38px;
}


#plane-button{
  margin-top: 20px;
  color: blue;
}


.plane-text {
  color: #858585;
  font-size: 23px;
}

.plane a {
  line-height: 40px;
}

/* FOOTER */

.bg-footer {
  height: 150px;
  background-color: #D3D3D3;
}
